@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Stack+Sans+Headline:wght@200..700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-black: #0a1911;
  --color-white: #f7f7f7;
  --color-green: #00ffbc;
  --fontSize-p: 1em;
  --fontSize-h1: 2.4881rem;
  --fontSize-h2: 3.0625em;
}

p {
  font-size: var(--fontSize-p);
}

h2 {
  font-size: var(--fontSize-h2);
}

body {
  font-family: "Inter";
}

header {
  position: relative;
  overflow: hidden;
  height: 600px;
}

header::before {
  content: "";
  position: absolute;
  top: -200%;
  left: 25%;
  width: 50%;
  height: 700px;
  background-image: url("../Images/Lines.svg");
  background-repeat: repeat-y;
  background-size: contain;
  animation: down 1.5s ease-out forwards;
}

@keyframes down {
  from {
    top: -200%;
  }
  to {
    top: 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ .links {
  transform: translateY(0);
  transition: all 0.2s ease-in;
}

#hamburger:checked ~ .hamburger span {
  background-color: var(--color-white);
}

.hamburger {
  position: relative;
  width: 32px;
  height: 24px;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  height: 4px;
  background-color: var(--color-black);
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  z-index: 2;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 10px;
}

.hamburger span:nth-child(3) {
  top: 20px;
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
  opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 6px;
}

.links {
  background-color: var(--color-black);
  transform: translateY(-100%);
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
}

ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style: none;
}

.links a {
  color: var(--color-white);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline var(--color-green);
}

.links span a:hover {
  text-decoration: none;
}

.links {
  overflow: visible;
}

.links li {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.links li:hover {
  transform: scale(1.1);
}

.logo img {
  width: 200px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 0 30px;
}

.herotext {
  max-width: 100%;
  text-align: center;
}

.phone {
  max-width: 220px;
  position: absolute;
  left: 50%;
  top: 5%;
  padding-top: 100px;
  transform: translateX(-50%);
}
.pixelbanner {
  background-color: var(--color-black);
  padding: 100px 30px;
  text-align: center;
}

.pixelbanner h2,
p {
  color: var(--color-white);
}

.pixelbanner h2 {
  line-height: 60px;
  margin-bottom: 5px;
}

.pixelbanner p {
  padding-bottom: 15px;
}

.btn {
  background-color: var(--color-green);
  color: var(--color-black);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background-color: #00c893;
}

.btn:active {
  background-color: #17fec0;
}

.pixelbanner span {
  font-family: "Pixelify Sans";
  color: var(--color-green);
}

.collabs {
  padding: 100px 30px;
  text-align: center;
}

.collabs-title {
  position: relative;
  text-align: center;
}

.collabs-title img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.collabs h2 {
  color: var(--color-black);
  font-size: var(--fontSize-h2);
  text-align: center;
}

.collabs a {
  color: var(--color-black);
}

.feats {
  padding: 0px 30px;
}

.feats-content {
  text-align: center;
}

.feats-content p {
  color: var(--color-black);
  padding-bottom: 15px;
}

.feats-content h2 {
  color: var(--color-black);
  margin-bottom: 5px;
}

.feats-content a {
  color: var(--color-black);
}

.feats-img {
  padding: 100px 30px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.feats-img article {
  margin-top: 100px;
  position: relative;
  transition: opacity 0.1s ease-in;
}

.feats-img article:hover ~ article,
.feats-img article:hover,
.feats-img article:not(:hover) {
  opacity: 0.5;
}

.feats-img article:hover {
  opacity: 1;
  transform: rotate(0deg);
}

.feats1 {
  transform: rotate(10deg);
  transition: transform 2s ease-in;
}

.feats2 {
  transform: rotate(-10deg);
  transition: transform 2s ease-in;
}

.feats3 {
  transform: rotate(5deg);
  transition: transform 2s ease-in;
}

.feats-img img {
  width: 80%;
  margin-bottom: 20px;
}

.feats-img a.btn {
  opacity: 0;
  transition: all 0.1s ease-in;
}

.feats-img article:hover a.btn {
  opacity: 1;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 100px;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: marquee 5s linear infinite;
}

.marquee-content span {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 60px;
  font-size: 4em;
  font-weight: 700;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

footer {
  background-color: var(--color-green);
  padding: 100px 30px;
}

.logo-footer {
  max-width: 300px;
}

.footer-left {
  text-align: center;
}

.footer-left p {
  color: var(--color-black);
}

.social-icons img {
  max-width: 50px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0px;
}

.footer-right {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.first {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-right span {
  font-weight: 600;
}

.footer-right a {
  text-decoration: none;
  color: var(--color-black);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom p {
  color: var(--color-black);
}
.footer-content {
  margin: 0 auto;
}

@media (min-width: 800px) {
  .footer-left {
    text-align: center;
  }

  .footer-content {
    margin: 0 auto;
  }

  .collabs h2 {
    font-size: 3.0625em;
  }

  .hamburger {
    display: none;
  }

  .links {
    position: static;
    transform: none;
    transition: none;
    height: auto;
    width: auto;
    background-color: transparent;
  }

  .links a {
    color: var(--color-black);
    font-weight: 600;
  }

  .links span {
    background-color: var(--color-green);
    color: var(--color-black);
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
  }

  .links span:hover {
    background-color: #00c893;
  }

  .phone {
    max-width: 220px;
    top: 20%;
    padding-top: 0px;
  }

  .collabs-title img {
    width: 500px;
    top: 10%;
    left: 50%;
  }

  .feats-img {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .rules {
    display: flex;
    gap: 30px;
  }

  .herotext {
    width: 800px;
  }
}

@media (min-width: 1000px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .collabs {
    transition: transform 0.2s ease-in-out;
  }

  .collabs:hover {
    transform: scale(1.3);
  }
  .logo img {
    width: 300px;
  }

  nav ul {
    gap: 50px;
  }

  nav a {
    font-size: 20px;
  }

  .links span {
    padding: 18px 15px;
  }

  .links span:hover {
    background-color: #00c893;
  }

  .links {
    background-color: transparent;
  }

  header {
    padding: 0px 100px;
    height: 100vh;
  }

  header::before {
    max-width: 500px;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    height: 1500px;
  }

  .herotext {
    width: 1200px;
    padding-top: 250px;
  }

  .phone {
    max-width: 320px;
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
    padding-top: 100px;
  }

  .hero {
    height: 500px;
    position: relative;
  }

  .pixelbanner {
    text-align: start;
    padding: 100px 100px;
  }

  .feats-img {
    flex-direction: row;
    flex: 1;
    max-width: none;
  }

  .feats-img img {
    width: 100%;
  }

  .feats {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
  }

  .feats-content {
    text-align: start;
    flex: 1;
  }

  .marquee-content {
    padding: 100px;
  }

  .footer-left {
    text-align: start;
  }

  footer {
    padding: 100px 100px;
  }

  .collabs-title img {
    top: 0%;
  }
}
